.root {
	-fx-background-image: url("../resources/Light-Wood-Background.png");
	-fx-background-size: 100% 100%;
}

.button {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #ad6440 0%, #9d5b3b 100%),
        #a15741,
        #d58157,
        radial-gradient(center 50% 50%, radius 100%, #d09979, #c3815b);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
}